<header th:fragment="header" class="w-full flex items-center justify-center p-5 border-b" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container text-gray-700 flex items-center justify-between">
        <div>
            <a th:href="@{/}" class="flex items-center gap-2">
                <iconify-icon width="25" icon="devicon:spring"></iconify-icon>
                <h2 class="text-xl font-semibold">Login System Spring MVC</h2>
            </a>
        </div>
        <div class="font-medium">

         <div sec:authorize="!isAuthenticated()">
             <a th:href="@{/login}" class="py-2 px-4 bg-emerald-500 hover:bg-emerald-600 rounded text-white">Giriş yap</a>
             <a th:href="@{/register}" class="ml-3 text-slate-700 hover:bg-slate-100 py-2 px-4 border rounded">Kayıt ol</a>
         </div>
            <div sec:authorize="isAuthenticated()">
                <a class="ml-3 text-slate-700 cursor-pointer hover:bg-slate-100 py-2 px-4 border rounded">Hoşgeldin! @<span th:text="${#authentication.principal.username}" ></span> </a>
                <a th:href="@{/logout}" class="py-2 ml-3 px-4 bg-red-500 hover:bg-red-600 rounded text-white">Çıkış yap</a>
            </div>
        </div>
    </div>
</header>